<section class="flex-col padding-20">
    <div class=breadcumbs>
        <h1>Cadastro de Perfil</h1>
    </div>

    <form action="" method="post" class="form-line">
        <fieldset class="flex-row padding-20">
            <legend>Informações do Perfil</legend>
    
            <div class="flex-row grow space-between">
        
                <div class="flex-col grow">
                    <label>Nome</label>
                    <input type="text" name="name">
                </div>
                
            </div>
    
        </fieldset>

        <div class="flex-row end grow">
            <div>
                <a class="button secondary" href="/Roles/Index">Voltar</a>
            </div>
            <div>
                <button class="button primary" type="submit">salvar</button>
            </div>
        </div>
    </form>
    
</section>