@{
ViewData["Title"] = "Home Page";
}

<style>
    
</style>

<style>

</style>

<div class="text-center">
    <h1>Gerenciamento de Usuários</h1>
    <span class="icon-users"></span>
</div>